@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="itemPresentation">
    <div class="positionTitle">
        <h1 class="titleAccueil">Good-Beach</h1>
    </div>
    
    <video autoplay muted loop>
        <source src="video\marine.mp4">
    </video>
</div>